* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(232, 144, 13);
}

body {
  background-color: black;
  margin-bottom: 20%;
}

.home-title, .home-sub-title {
  color: white;
}

.home-title {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 10px;
  font-size: xx-large;
}

.home-sub-title {
  font-size: medium;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background {
  background-image: url('https://wallpapercave.com/wp/wp8130764.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 1rem 2rem;
}
  
.nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

.pb-5 {
  width: 500px;
  margin: 50px;
  float: right;
  top: -40px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

#form {
  height: 400px;
  padding-top: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#btn-submit, .btn {
  background-color: rgb(0, 51, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 5px;
  color: white;
  width: 100%;
  font-size: x-large;
}

#btn-danger {
  background-color: rgb(255, 132, 0);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 86px;
  padding-right: 86px;
  font-size: x-large;
  color: white;
}

.form-control {
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  width: 100%;
}

/* Search page */

.searchText, .heading-text {
  text-align: center;
  padding-top: 125px;
}

.searchText {
font-size: x-large;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* end of search page */

/* about page */

.hero-image {
  background-image: url('https://t4.ftcdn.net/jpg/01/27/16/25/360_F_127162573_kcES41FWV2OOdI5GxdD4di6l4O8o0AZb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  text-align: center;
  height: 80vh;
  padding-top: 30%;
}

.about-us-section {
  padding-top: 20px;
}

.about-us-content {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  font-size:x-large;
  text-align: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-us-title {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
  text-align: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-container {
  padding-top: 40px;
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.card {
  padding: 100px;
  background-color: white;
  flex: 1;
  text-align: center;
  margin: 1rem;
}
.card img {
  width: 85%;
}

#card-img-top {
  height: 150px;
  width: 150px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px blue;
}

.no-bullet {
  list-style-type: none;
}


#card-img-top:hover {
  background-color: #00C2CB;
}

.card-text, .card-title, .card-list { 
  color: black;
}

.card-title {
  padding-top: 20px;
  font-size: x-large;
}

.card-list {
  padding-top: 10px;
  font-size: x-large;
}

/* end of about page */

/* myplaylist page */

.myplaylist-background {
  text-align: center;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/849/765/214/music-dj-audio-spectrum-wallpaper-preview.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  color: white;
  height: 100vh;;
}

.myplaylist-contents {
  font-size: xxx-large;
  color: white;
  padding-top: 10%;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.myplaylist-blurb {
  font-size: x-large;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'Lucida Sans', Arial, sans-serif;
}

.playlist-title {
  color: white;
  padding-bottom: 30px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#playlist-button {
  width: 30%;
}

/* end of myplaylist page */


/* genre section */
.genre_box {
  margin: 100px 15px 0 15px;
  padding-bottom: 20px;
  transition: all 0.5s;
}

.genre_box:hover {
  transform: translateY(-90px);
}

.genre_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.genre_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 15px 0 15px;
  transform: translateY(0);
  transition: all 0.7s;
  padding-bottom: 50px;
}

.genre_box:hover {
  transform: translateY(-150px);
  cursor: pointer;
}

.genre_box:hover .genre_img-box {
  /* background-color: #fddd33; */
}

.genre_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 295px;
  border-radius: 90px;
  background-color: #363636;
}

.genre_box h4 {
  margin-top: 15px;
}

.genre_img-box img {
  width: 225px;
  height: 295px;
  border-radius: 90px;
}

.genre_detail p {
  margin-bottom: 55px;
  text-align: center;
} 

/* end genre section */

/* search page */
.playlist-image {
  background-image: url(../images/playlist-hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  text-align: center;
  height: 80vh;
  padding-top: 30%;
}

.searchText {
  padding-top: 90px;
  padding-bottom: 30px;
  color: white;
  font-size: xxx-large;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search-field, .search-button {
  margin-top: 30px;
  font-size: 30px;
}

.center {
  text-align: center;
  font-size:x-large;
  }

  label {
    color: aqua;
  }

  .playlist-info {
    padding-top: 50px;
    font-size: 30px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

/* end of search page */

/* contact page */

.contact-container {
  background-image: url('../images/contact-hero.jpeg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-top: 50%;
  top: 0;
  left: 0;
}

.section-heading {
  font-size: xxx-large;
  padding-top: 100px;
}

.text-center {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

.content-holder {
  padding-bottom: 10%;
}

#contactForm {
    padding: 2rem;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
    margin: 3rem auto;
    width: 50%;
}

.contactForm label {
    display: block;
    margin: 1rem 0;
}

.form input, .form textarea {
  width: 30%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid gray;
  }
  
  .form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  }
  
  .form input[type="submit"]:hover {
  background-color: #3e8e41;
  }

  .align-right {
    text-align: right;
    float: right;
}
