body {
  background-image: url("https://www.savethestudent.org/uploads/Man-listening-music-streaming-soundwave-audio-headphones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: Arial;
  text-align: center;
}

.pb-5 {
  width: 500px;
  margin: 50px;
  float: right;
  top: -40px;
}

#form {
  opacity: 0.8;
  background-color: white;
  height: 400px;
}

#btn-submit {
  background-color: rgb(0, 51, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 5px;
  color: white;
  font-size: x-large;
}

#btn-danger {
  background-color: rgb(255, 132, 0);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 86px;
  padding-right: 86px;
  font-size: x-large;
  color: white;
}

.form-control {
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
}

/* genre section */
.genre_box {
  margin: 100px 15px 0 15px;
  padding-bottom: 20px;
  transition: all 0.5s;
}

.genre_box:hover {
  transform: translateY(-90px);
}

.genre_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.genre_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 15px 0 15px;
  transform: translateY(0);
  transition: all 0.7s;
  padding-bottom: 50px;
}

.genre_box:hover {
  transform: translateY(-150px);
  cursor: pointer;
}

.genre_box:hover .genre_img-box {
  background-color: #fddd33;
}

.genre_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 295px;
  border-radius: 90px;
  background-color: #363636;
}

.genre_box h4 {
  margin-top: 15px;
}

.genre_img-box img {
  width: 120px;
}

.genre_detail p {
  margin-bottom: 55px;
  text-align: center;
} 

/* end genre section */
