.background {
  background-image: url('https://www.savethestudent.org/uploads/Man-listening-music-streaming-soundwave-audio-headphones.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.Nav {

}

.pb-5 {
  width: 500px;
  margin: 50px;
  float: right;
  top: -40px;
}

#form {
  opacity: 0.8;
  background-color: white;
  height: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#btn-submit {
  background-color: rgb(0, 51, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 5px;
  color: white;
  font-size: x-large;
}

#btn-danger {
  background-color: rgb(255, 132, 0);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 86px;
  padding-right: 86px;
  font-size: x-large;
  color: white;
}

.form-control {
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  text-align: center;
}

/* Search page */

.searchText, .heading-text, .text-uppercase {
  text-align: center;
}

.searchText {
font-size: x-large;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* end of search page */

/* about page */

.about-container {
  padding: 2rem;
  text-align: center;
}

.header {
  background-image: url('https://thumbs.dreamstime.com/b/music-learning-app-banner-listening-online-advertising-lettering-musicians-figures-instruments-symbols-header-colorful-vector-165304556.jpg');
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.card-container {
  display: flex;
  justify-content: space-between;
}
.card {
  flex: 1;
  text-align: center;
  margin: 1rem;
}
.card img {
  width: 100%;
}

/* end of about page */

/* genre section */
.genre_box {
  margin: 100px 15px 0 15px;
  padding-bottom: 20px;
  transition: all 0.5s;
}

.genre_box:hover {
  transform: translateY(-90px);
}

.genre_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.genre_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 15px 0 15px;
  transform: translateY(0);
  transition: all 0.7s;
  padding-bottom: 50px;
}

.genre_box:hover {
  transform: translateY(-150px);
  cursor: pointer;
}

.genre_box:hover .genre_img-box {
  /* background-color: #fddd33; */
}

.genre_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 295px;
  border-radius: 90px;
  background-color: #363636;
}

.genre_box h4 {
  margin-top: 15px;
}

.genre_img-box img {
  width: 225px;
  height: 295px;
  border-radius: 90px;
}

.genre_detail p {
  margin-bottom: 55px;
  text-align: center;
} 

/* end genre section */

/* contact page */

.background {
  background-image: url('https://www.savethestudent.org/uploads/Man-listening-music-streaming-soundwave-audio-headphones.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.contactForm {
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
    margin: 3rem auto;
    width: 80%;
}

.contactForm label {
    display: block;
    margin: 1rem 0;
}

.form input, .form textarea {
  width: 30%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid gray;
  }
  
  .form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  }
  
  .form input[type="submit"]:hover {
  background-color: #3e8e41;
  }

  .align-right {
    text-align: right;
    float: right;
}
